@charset "UTF-8";

@font-face {
    font-family: 'adler';
    src: url('../fonts/adler.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
    --cor0: #431811;
    --cor1: #594A2D;
    --cor2: #46381E;
    --cor3: #AF9F86;
    --cor4: #484340;
    --cor5: #472A22;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Special Elite', cursive;
    --fonte-avenged: 'adler', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);
    font-family: var(--fonte-padrao)
}

header {
    background-image:linear-gradient(to bottom, var(--cor5), black);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header h1 {
    color: white;
    font-family: var(--fonte-avenged);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.507);
}

header > p {
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.507);
}

nav {
    background-color: black;
    padding: 10px;
}

nav > a {
    color: var(--cor3);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    transition-duration: .3s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-avenged);
    font-weight: normal;
    font-size: 1.8em;
    margin: 10px;
}

main h2 {
    font-family: var(--fonte-avenged);
    color: var(--cor2);
    font-size: 1.3em;
    font-weight: normal;
    margin: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

main strong {
    color: var(--cor0);
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-family: var(--fonte-destaque);
    font-weight: bold;
    color: var(--cor0);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

a.externo::after {
    content: '•';
}

main img {
    width: 100%;
}

footer {
    background-color: var(--cor0);
    color: white;
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin: 10px;
}

/* DISCOGRAFIA */

div.box-lista-albuns {
    background-color: var(--cor3);
    border-radius: 5px;
    margin: 0px;
    padding: 30px;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.3);
}

ol.lista-albuns {
    list-style-position: inside;
}

img.capa-album {
    margin: auto;
    width: 400px;
    height: 400px;
    margin: 30px 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

img.capa-album:hover {
    transform: scale(1.03);
    box-shadow: 6px 6px 30px rgba(0,0,0,0.8);
}

/* INTEGRANTES */

div.member {
    display: inline-block;
    background-color: var(--cor4);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    box-shadow: 6px 6px 30px rgba(0,0,0,0.8);
}

div.img-member img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid black;
}

div.img-member p {
    color: white;
    text-align: center;
    font-family: var(--fonte-avenged);
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.507);
}

div.member p {
    color: white;
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 20px;
}